<footer class="hidden">
    <div id="footer-container">
        <div id="backtotop" class="button-wrap left disable-drag">
        <div class="icon-wrap parallax-wrap">
            <div class="button-icon parallax-element">
            <i class="fa fa-angle-up"></i>
            </div>
        </div>
        <div class="button-text sticky left">
            <span data-hover="Nach oben">Nach oben</span>
        </div>
        </div>

        <div class="footer-middle">
        <div class="copyright">
            2020 - {{ currentYear }} &#169;
            <a class="link" target="_blank" href="/">GeneralPelle</a>.
        </div>
        </div>

        <div class="socials-wrap disable-drag">
        <div class="socials-icon"><i class="fa fa-share-alt" aria-hidden="true"></i></div>
        <div class="socials-text">Folge mir</div>
        <ul class="socials">              
                                  
            <li>
            <span class="parallax-wrap"
                ><a
                class="parallax-element"
                href="https://www.buymeacoffee.com/generalpelle"
                target="_blank"
                ><i class="fa fa-coffee"></i></a
                ></span
            >
            </li> 
            <li>
            <span class="parallax-wrap"
                ><a
                class="parallax-element"
                href="https://www.reddit.com/user/GeneralPelle"
                target="_blank"
                ><i class="fa fa-reddit"></i></a
                ></span
            >
            </li>                    
            <li>
            <span class="parallax-wrap"
                ><a
                class="parallax-element"
                href="https://www.youtube.com/channel/UC9a0pozD2WTBV_Yg4Y1SuWg"
                target="_blank"
                ><i class="fa fa-youtube"></i></a
                ></span
            >
            </li>                            

        </ul>
        </div>
    </div>
</footer>