<footer class="hidden">        	
    <div id="footer-container">
        <div class="button-wrap left disable-drag swiper-prev">
            <div class="icon-wrap parallax-wrap">
                <div class="button-icon parallax-element">
                    <i class="fa fa-angle-up"></i>
                </div>
            </div>
            <div class="button-text sticky left"><span data-hover="Vorheriges Projekt">Vorheriges Projekt</span></div> 
        </div>
        
        <div class="button-wrap right disable-drag swiper-next">
            <div class="icon-wrap parallax-wrap">
                <div class="button-icon parallax-element">
                    <i class="fa fa-angle-down"></i>
                </div>
            </div>
            <div class="button-text sticky right"><span data-hover="Nächstes Projekt">Nächstes Projekt</span></div> 
        </div>
        
    </div>
</footer>