<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="GeneralPelle">
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="{{ keywords }}">
  <link href="/assets/css/app.css" rel="stylesheet" />
  <link href="/assets/css/custom.css" rel="stylesheet" />
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />  
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 
</head>