<header class="fullscreen-menu">
    <div id="header-container">
    <!-- Logo -->
    <div id="logo" class="hide-ball disable-drag">
        <a class="ajax-link" data-type="page-transition" href="/">
        <img src="/assets/images/ui/logo.png" alt="GeneralPelle" />
        </a>
    </div>
    <!--/Logo -->

    <!-- Navigation -->
    <nav>
        <div class="nav-height">
        <div class="outer">
            <div class="inner">
            <ul data-breakpoint="10025" class="flexnav">
                <li class="link menu-timeline">
                <a class="" href="#"
                    ><div class="before-span">
                    <span data-hover="Projekte">Projekte</span>
                    </div></a
                >
                <ul>
                    <li>
                    <a
                        class="ajax-link active"
                        href="/project/fa18"
                        data-type="page-transition"
                        >F/A-18E VFA-81 "Sunliners"</a
                    >
                    </li>
                    <li>
                    <a
                        class="ajax-link"
                        href="/project/bismarck-vs-hood-diorama"
                        data-type="page-transition"
                        >Bismarck vs. Hood Ozean Diorama</a
                    >
                    </li>
                </ul>
                </li>
                <li class="link menu-timeline">
                <a class="ajax-link" data-type="page-transition" href="/"
                    ><div class="before-span"><span data-hover="Startseite">Startseite</span></div></a
                >
                </li>  
                <li class="menu-timeline buy-item">
                <a
                    target="_blank"
                    class="link"
                    href="https://www.youtube.com/channel/UC9a0pozD2WTBV_Yg4Y1SuWg"
                    ><div class="before-span">
                    <span data-hover="YouTube Kanal">YouTube Kanal</span>
                    </div></a
                >
                </li>
            </ul>
            </div>
        </div>
        </div>
    </nav>
    <!--/Navigation -->

    <!-- Menu Burger -->
    <div class="button-wrap right menu disable-drag">
        <div class="icon-wrap parallax-wrap">
        <div class="button-icon parallax-element">
            <div id="burger-wrapper">
            <div id="menu-burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            </div>
        </div>
        </div>
        <div class="button-text sticky right">
        <span data-hover="Navigation">Navigation</span>
        </div>
    </div>
    <!--/Menu Burger -->
    </div>
</header>