<div class="preloader-wrap" data-firstline="Bitte" data-secondline="warten">
    <div class="outer">
    <div class="inner">
        <div class="trackbar">
        <div class="loadbar"></div>
        </div>

        <div class="percentage-wrapper"><div class="percentage" id="precent"></div></div>
        <div class="percentage-intro">geladen</div>
    </div>
    </div>
</div>